html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all .1s ease .7s;
  visibility: visible;
}
/* box for title text */
[data-title]:after {
  content: attr(data-title);
  position: absolute;
  left: 20%;
  top: 80%;
  z-index: 100;
  visibility: hidden;
  background-color: #111;
  color: #aaa;
  font-size: 11px;
  width: 150%;
  text-align: left;
  padding: 8px 10px;
  opacity: 0;
  border: 1px solid #000;
  border-radius: 2px;
}
[data-title] {
  position: relative;
}
